.container{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
    
    width: 400px;
    height: 644px; /* canvas + infobar */
	margin: 0 auto;
    border: solid;
    background-image: url("./background.jpg");
}

.title{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 50px;
	padding: 60px 0;
	margin: 0;    
}

.page{
    height: 100%;
}

#div-gamePage{
    background: #FFF59D;
}

#div-homePage{
    background: rgba(253, 216, 53, .8);
    text-align: center;
}

.btn{
	padding: 20px;
	font-size: 100%;
	color: black;
    border: 6px solid;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

.btn.fade{
    opacity: 0.6;    
}

.btn.active{
    background: #F44336;
    font-weight: bold;
    animation: button-pulse 1s linear infinite;
}

.btn:hover{
	animation: button-pulse 1s linear infinite;
}
    
.btn:focus{
	animation: button-pulse 1s linear infinite;
}


@keyframes button-pulse{
	from { transform: scale(1); }
	50% { transform: scale(1.1); }
	to { transform: scale(1); }
}

.btn#btn-startGame{
    width: 70%;
    margin: 0; 
}

.btn.btn-startGame{
    background: #76FF03;
    font-weight: bold;
}

.btn.btn-red{
    font-weight: bold;
    background: #F44336;
}

.hide{
    display: none;
}

.status-bar{
    height: 44px;
    
    background: #3F51B5;
    font-weight: bold;
    color: white;
}

.status-bar > .clock{
    width: 30%;
    float: left;
    padding-top: 10px;
    text-align: center;
}

.status-bar > .score{
    width: 30%;    
    float: left;
    padding-top: 10px;
    text-align: center;
}

.status-bar > .command{
    width: 40%;
    float: left;
    text-align: center;
    padding-top: 2px;
}

#btn-gameCommand{
    padding: 10px;
	font-size: 50%;
	color: black;
    font-weight: bold;
    border: 3px solid;
    border-radius: 25px;
    cursor: pointer;
    width: 50%;
        
}

.pop-up{
    font-family: Courier New, Courier, monospace;
    letter-spacing: 3px; 
    width: 80%;
    text-align: center;
    margin: 10%;
    color: white;
    background-color: #3F51B5;
    margin-top: 40%;
    box-shadow: 10px 10px 5px #888888;
}

.pop-up.pop-up-count-down{
    margin: 10%;
    font-family: fantasy;
    font-size: 300%;     
    color: black;
    background-color: transparent;
    box-shadow: none;
}

.pop-up.pop-up-button{
    width: 100%;
    margin: 0%;
    float: left;
    color: black;
    background-color: transparent;
    box-shadow: none;
}